<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <!-- Bootstrap CSS -->
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous"
        />
        <link href="/css/style.css" rel="stylesheet" type="text/css" />
        <title>Passport Login</title>
    </head>
    <body>
        <div
            class="
                d-flex
                flex-column flex-md-row
                align-items-center
                p-3
                px-md-4
                mb-3
                bg-white
                border-bottom
                shadow-sm
            "
        >
            <h5 class="my-0 mr-md-auto font-weight-normal">FBW44-App</h5>
            <nav class="my-2 my-md-0 mr-md-3">
                <a class="p-2 text-dark" href="/">Home</a>
                <a class="p-2 text-dark" href="/list">My List</a>
                <% if(!currentUser) { %>
                <a class="btn btn-outline-info" href="/user/login">Login</a>
                <% } %>
            </nav>
            <% if(!currentUser) { %>
            <a class="btn btn-outline-primary" href="/user/register">Sign up</a>
            <% } %> <% if(currentUser) { %>
            <a class="btn btn-outline-primary" href="/user/logout">Log out</a>
            <% } %>
        </div>
        <!--flash sets error messages in the messages and passport fills them up  -->
        <% if(messages.error) { %>
        <div class="container">
            <div class="alert alert-danger" role="alert">
                <%= messages.error %>
            </div>
        </div>
        <%}%>
    </body>
</html>
